<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

	<title>SPRING MVC + DATA AND THYMELEAF</title>	
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
	<link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}"/>
	<link rel="stylesheet" th:href="@{/resources/css/justified-nav.css}"/>
	
	<script type="text/javascript" th:src="@{/jquery/jquery.min.js}"></script>
	<script type="text/javascript" th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
	
	<script type="text/javascript">
// 		$(document).on('ready', function() {
			
// 			$('.delete-product').on('click',function(e){
// 				e.preventDefault();
// 				//var codeProduct = $('td.row-select').attr("text");
// 				//alert(codeProduct);
// 			});
			
// 			$('#modalDeleteProduct').on('shown.bs.modal', function (event) {
// 				var codeProduct = $('td.row-select').attr('id');
// 				alert(codeProduct);
// 			});
		
// 		});
	</script>

</html>